<div class="contact_cl">
  
<h1>Contact Us</h1>

    <div class="contact_info">        
    <p>J's Jewelry </p>
    <p>3456 Johanson Dr</p>
    <p>Jackson, MS</p>
    <p>(303)555-1212</p>
    </div>
</div>
<br />
<br />
<%= link_to 'Back', store_path %>
