
<div class="freq_question">
  
<h1>Frequently Asked Questions</h1>
<table>
    <tr class="question">
        <td>1.</td><td>Can items be returned?</td>
    </tr>
    <tr class="response">
        <td></td><td>All undamaged items can be returned within 30 days with a 30% restocking fee.</td>
    </tr>
    <tr class="question">
        <td>2.</td><td>Are the items guaranteed?</td></tr>
    <tr class="response">
        <td></td><td>All items are guaranteed to make your friends jealous.  All items are guaranteed not to turn your skin green
if you wear the items for less than 30 minutes at a time.  All items are also
guaranteed not to be stolen.  All items have a 30 day warranty against defects.</td>        
    </tr>
    <tr class="question">
        <td>3.</td><td>Do you offer discounted prices?</td></tr>
    <tr class="response">
        <td></td><td>Yes, we offer discounts to senior citizens older than 75 years old and also
offer a 15% discount for all puchases on the 5th Friday of the month.</td>        
    </tr>
</table>
</div>
<br />
<br />
<%= link_to 'Back', store_path %>
<div class="freq_question">
