<div class="new_news">
  
<h1>Current News</h1>
<table>
    <tr class="news_headline">
        <td>Black Lagoon Pearls Discovery</td>
    </tr>
    <tr class="news_text">
        <td>Most people have heard of and seek to buy Blue Lagoon pearls.  In Rangoon,
        we have discovered a tremendous find of oysters in the Black Lagoon.  They are
        creating fabulous pearls that seem to glow.  Some are attributing their
        remarkable glow to the large quantity of radioactive waste that is routinely
        dumped in the lagoon, but the oysters don't seem to mind and have actually
        increased pearl production.  Yes, the pearls are slight alpha emitters, but
        as long as you don't wear the pearls for more than three hours at a time,
        they are perfectly safe!</td>
    </tr>
    
</table>
</div>
<br />
<br />
<%= link_to 'Back', store_path %>


